.birdseye {
  display: block;
  float: left;
  overflow: hidden;
  position: fixed;
  width: 20%;
  z-index: 1; }
  .birdseye #birdseye-location {
    border-left: 20px solid rgba(255, 255, 0, 0.75);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .birdseye span {
    border-left: 20px solid #666;
    display: block;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
    .birdseye span a {
      bottom: 0;
      display: block;
      padding-left: 1em;
      position: absolute;
      text-decoration: none;
      top: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      z-index: 2; }
      .birdseye span a:hover {
        background: #eee; }
